<div class="modal info-modal" id="osmModal">
  <div class="modal-middle">
    <h3>Please Note</h3>
    <p>
      Please be aware that any edits to the geometries of islands, or the addition of
      new island geometries will be licenced under the
      <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Data Commons Open</a>
      Database Licences (ODbl), and will be made available to the Open Streetmap
      project. If you have any questions about this please contact
      <a href="mailto:marine@unep-wcmc.org">marine@unep-wcmc.org</a> before you
      make your edits.
    </p>

    <p class="buttons">
      <a href="#" data-dismiss="modal" class="cancel-btn">
        Cancel
      </a>

      <a href="#" data-dismiss="modal" class="continue-btn">
        Ok
      </a>
    </p>
  </div>
</div>
