<h3>Generate a new download</h3>
<div id='download-option-strip'>
  <%= link_to "Generate now", generate_download_path(:range => 'all'), :class => 'download-btn btn btn-primary' %>
</div>
<div id='user-download-feedback' class="alert alert-success"></div>

<% unless @download.nil? %>
  <h3>Download existing datasets</h3>
  <div id='user-downloads'>
    <%= render "download/index", download: @download %>
  </div>
<% end %>

<h3>Please also read the licences</h3>
<div>
  <ul class="licences">
    <li>For the geometry database: <a href="http://opendatacommons.org/licenses/odbl/1.0/">ODbL</a></li>
    <li>For the attributes database: <a href="http://www.unep-wcmc.org/policies/general-data-license-excluding-wdpa#data_policy">WCMC General Data Licence</a></li>
  </ul>
</div>
