<h3>Generate a new download</h3>
<div id='download-option-strip'>
  <%= link_to "Generate now", generate_download_path(:range => 'all'), :class => 'download-btn btn btn-primary' %>
</div>
<div id='user-download-feedback' class="alert alert-success"></div>

<% unless @download.nil? %>
  <h3>Download existing datasets</h3>
  <div id='user-downloads'>
    <%= render "download/index", download: @download %>
  </div>
<% end %>

<p>Please also download the licences:</p>
<ul class="licences">
  <li>For the geometry database: <a href="/exports/odbl_licence.txt">odbl_licence.txt</a></li>
  <li>For the attributes database: <a href="/exports/wcmc_licence.txt">wcmc_licence.txt</a></li>
</ul>
